/* --filters-- */
.form-filter {
  margin-left: 2%;
  margin-top: 3%;
}
.filters {
  display: flex;
}
.filter {
  margin-right: 5%;
}
/* --card-- */
.card {
  margin: 2%;
}
.header {
  display: flex;
}
.view-Detail {
  float: right;
  margin-right: 5%;
}
.description {
  width: 100% !important;
}
.head {
  display: flex;

  position: relative;
  margin-left: 0;
}
.view-select {
  float: left;
  margin-right: 100px;
}
.view-img {
  margin-right: 3%;
}
.container {
  padding: 15px;
}
#fil,
#non {
  margin-bottom: 2%;
  background-color: rgb(206, 255, 157);
}
.view-details {
  background-color: rgb(252, 255, 179);
  border: 0;
  padding: 8px;
}
.view-details:hover {
  cursor: pointer;
}
